name: Test Runner

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test-runner:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        python: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Install test requirements
        run: pip install -r test-requirements.txt
      - name: Run tests
        # Run tox using the version of Python in `PATH`
        run: coverage run -m pytest
      - name: Generate coverage report
        run: coverage xml
      - name: SonarQube Scan
        if: ${{ matrix.python == '3.13' && github.actor != 'dependabot[bot]' }}
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}